!saves/modjam2018/data/functions/*

!saves/modjam2018/region/r.0.0.mca

!saves/modjam2018/structures/*

!saves/modjam2018/icon.png

!saves/modjam2018/level.dat

!resourcepacks/modjam2018/*

!README.md
